<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head('Friend List')"></head>
<body>

	<section class="hero is-fullheight" role="main">
		<div th:replace="fragments/base :: navbar('friends')"></div>
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-5">
						<h1 class="is-sr-only">Friend list</h1>
						<th:block th:if="${currentPage.empty}">
							<div class="columns is-centered">
								<div class="column is-half">
									<p>
										<span class="icon-text"> <span
											class="icon has-text-info"> <em
												class="fas fa-info-circle"></em>
										</span> <span></span>
										</span> Oh. I guess nobody's here yet. Want to add a friend?
									</p>
								</div>
							</div>
						</th:block>
						<table class="table is-centered" style="margin: auto"
							th:unless="${currentPage.empty}">
							<caption class="is-sr-only">Friend table</caption>
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Vax'd?</th>
									<th scope="col">Double-Vax'd?</th>
									<th scope="col">Update</th>
									<th th:if="${unfriend}" scope="col">Unfriend</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="friend, i : ${currentPage}">
									<td th:id="'name' + ${i.index}" th:text="${friend.name}"></td>
									<td th:id="'firstDose' + ${i.index}"
										th:text="${friend.firstDosed} ? 'Yes' : 'No'"></td>
									<td th:id="'secondDose' + ${i.index}"
										th:text="${friend.secondDosed} ? 'Yes' : 'No'"></td>
									<td><a th:id="'update' + ${i.index} + 'Link'"
										th:href="@{/friends/form(id=${friend.code})}">Update</a></td>
									<td th:if="${unfriend}"><a
										th:id="'delete' + ${i.index} + 'Link'"
										th:href="@{/friends/delete(id=${friend.id})}">Delete</a></td>
								</tr>
							</tbody>
						</table>
						<th:block
							th:replace="fragments/base :: paginator(${currentPage}, ${pageNumbers}, '/friends/list')"></th:block>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script th:replace="fragments/base :: scripts"></script>

</body>
</html>